body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
}
.nav-container {
  margin-bottom: 60px;
}
h2 {
  margin-bottom: 10px;
}
.nav1 {
  background-color: #484848;
  padding: 10px;
}
.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.nav1 li {
  display: inline;
}
.nav1 a {
  text-decoration: none;
  color: #fff;
  background-color: #d45b04;
  padding: 5px 15px;
}
