body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
}
.nav-container {
  margin-bottom: 60px;
}
h2 {
  margin-bottom: 10px;
}
.nav1 {
  background-color: #fff;
  padding: 10px;
}
.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.nav1 li {
  display: inline;
}
.nav1 a {
  text-decoration: none;
  color: #000000;
  /* background-color: #d45b04; */
  padding: 5px 15px;
  position: relative;
}
.nav1 .login-btn {
  background-color: #254bf6;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0a65c7;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav2 {
  background-color: #03643c;
  width: 200px;
  padding: 20px;
}
.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav2 li {
  margin-bottom: 12px;
}
.nav2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  width: 100%;
}
.nav2 a:hover {
  background-color: #137e0a;
}
.nav2 .login-btn {
  background-color: #05501d;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid greenyellow;
  border-radius: 18px;
}
.nav2 .login-btn:hover {
  background-color: #057017;
  border: 1px solid white;
  color: #000000;
}
